<div class="form-group">
    <label>{{ label }}</label>
    <input
      [type]="type"
      [formControl]="control"
      [placeholder]="placeholder"
      class="form-control"
      [class.is-invalid]="control.touched && control.invalid"
    />
  
    @if (control.touched && control.invalid) {
      <div class="invalid-feedback">
        @if (hasError('required')) {
          <div>{{ 'validation.required' | translate }}</div>
        }
        @if (hasError('invalidEmail')) {
          <div>{{ 'validation.email' | translate }}</div>
        }
      </div>
    }
  </div>
  